#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.droppable {
  height: 12rem;
  width: 20rem;
}

.listoflisa {
  height: 12rem;
  width: 20rem;
  background-color: rgb(74, 55, 100);
}

.listofalex {
  height: 12rem;
  width: 20rem;
  background-color: rgb(225, 171, 22);
}

.draggable {
  border: rgb(72, 72, 41) solid 2px;
  color: white;
  border-radius: 1rem;
}

.columncontainer {
  /* border: cyan 3px dashed; */
  display: flex;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}